# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore ecslipse related files
.settings/org.eclipse.*.core.prefs
bin/**/*.class
.classpath

# Ignore vscode setting
/.vscode/
